@model HandleErrorInfo
@{
    ViewBag.Title = "OutOfRangeError";
}

<h2>Sorry, an error occured!</h2>

<h3>Range error: @Model.Exception.Message</h3>
<img src="https://rlv.zcache.com/sad_face_classic_round_sticker-r861f65fdcb8640dca0261c60f986f8a4_v9waf_8byvr_324.jpg" alt="Sad Face" />

